<ng-container>
  <form [formGroup]="highScoreForm">
    <div class="row tableInput">
      <label class="col-sm-4">Player:</label>
      <input class="col-sm" formControlName="player_name"/>
    </div>
    <div class="row tableInput">
      <label class="col-sm-4">Game:</label>
      <input class="col-sm" formControlName="game_name"/>
    </div>
    <div class="row tableInput">
      <label class="col-sm-4">Score:</label>
      <input class="col-sm" formControlName="score"/>
    </div>
  </form>
</ng-container>

<td>
  <button type="button" class="btn btn-warning" (click)="changeForm()" *ngIf="highScoreForm.disabled"><i class="bi bi-eye-slash-fill"></i></button>
  <button type="button" class="btn btn-warning" (click)="changeForm()" *ngIf="highScoreForm.enabled"><i class="bi bi-eye-fill"></i></button>
</td>
