<form [formGroup]="highscoreForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="(games$ | async) as games">
      <label class="col-sm-3">Game:</label>
        <select [(ngModel)]="selectedGame" name="game" class="col-sm" formControlName="name" required>
          <option *ngFor="let game of games" [value]="game.id">
            {{game.game_name}}
          </option>
        </select>
      </ng-container>
    </div>
    <div class="row">
      <label class="col-sm-3">Score:</label>
      <input class="col-sm" type="number" formControlName="score" required/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary float-right" [disabled]="!highscoreForm.valid"><i class="bi bi-plus-circle-fill"></i></button>
</form>
