<div mat-dialog-content>
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <label class="col-sm-4">Name:</label>
        <input class="col-sm" type="text" formControlName="player_name" required/>
      </div>
    </div>
  </form>
  <br>
  <app-highscores-table [playerId]="data.id" (updateEvent)="updatePlayer($event)"></app-highscores-table>
  <button type="button" class="btn btn-primary float-right" (click)="showAddingForm()"><i
    class="bi bi-person-plus-fill"></i></button>
  <app-highscore-adding [playerId]="data.id" *ngIf="showForm"></app-highscore-adding>
</div>
